p{
    position: relative;
    left: -350px;
}
button {
    float: left;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 5px;
    border-radius: 15%;
    margin-left: 20px;
}
button:hover{
    animation-name: colorbutton;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes colorbutton {
    0%{
        background-color: #f00
    }
    100%{
        background-color: #f00;
    }
}
.arrow{
    height: 0px;
    width: 0px;
    border-right: 100px solid rgb(255, 60, 0);
    border-top: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 100px solid transparent;
    position: relative;
    top: -75px;
    float: left;
    animation-name: arrow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes arrow {
    0%{
        left: -70px;
        transform: scale(0.3);
    }
    50%{
        left: 10px;
        transform: scale(0.1);
    }
    100%{
        left: -70px;
        transform: scale(0.3);
    }
}
h2{
    animation-name: rb;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes rb{
    0%{
        color: #000;
    }
    100%{
        color: #f00;
    }
}
#circle{
    float: right;
    background-color: #00f5f5;
    height: 35px;
    width: 35px;
    position: relative;
    right: 50px;
    border-radius: 50%;
    animation-name: bouling;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 7;
}
@keyframes bouling {
    0%{
        top: 0px;
        right: 50px;
    }
    25%{
        top: 100px;
        right: 50px
    }
    50%{
        right: 150px;
        top: 100px;
    }
    75%{
        top: 0px;
        right: 150px;
    }
    100%{
        right: 50px;
    }
}